<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>PAGE TITLE HERE</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link href="/style_sheet.css" rel="stylesheet" />

</head>

  <body>



    <div class="wrapper">
      <div id="bumper"></div>

      <section class="clearfix">


        <article class="one_fourth">
        </article>


        <article class="one_half">
          <a href="/registration">
            <button id="registration_button">Register</button>
          </a>
        </article>


        <article class="one_fourth">
        </article>

      </section>
    </div>

  </body>

</html>
